<main class="skillset--wrapper">
  <section class="skillset">
    <h1 class="skillset--heading">Skillset</h1>
    <div class="skillset--wrapper">
      
      <h2 class="skillset--title">Languages</h2>
      <ul class="list">
        <li class="list--item">HTML5</li>
        <li class="list--item">CSS3/SASS</li>
        <li class="list--item">Ruby</li>
        <li class="list--item">Javascript</li>
      </ul>

      <h2 class="skillset--title">Frameworks</h2>
      <ul class="list">
        <li class="list--item">Ruby on Rails</li>
        <li class="list--item">AngularJS</li>
      </ul>

      <h2 class="skillset--title">Databases</h2>
      <ul class="list">
        <li class="list--item">SQLite</li>
        <li class="list--item">PostgreSQL</li>
      </ul>
      
      <h2 class="skillset--title">Tools</h2>
      <ul class="list">
        <li class="list--item">Git</li>
        <li class="list--item">NodeJS</li>
      </ul>
      
    </div>
  </section>
</main>
