.menu
  position: absolute
  width: 232px
  height: 100vh
  right: 0px
  z-index: 1
  top: 0
  background: rgba(59, 0, 48, 1)
  margin-top: -16px
  transform-origin: 0% 0%
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0)

.menu--disable
  transform: none


.menu--enable
  transform: translate(100%, 0)


.menu--style
  list-style-type: none
  padding: 0  
  margin-top: 137px

.menu--item
  font-family: 'Roboto', sans-serif
  margin-top: 16px
  color: rgba(255, 255, 255, 0.46)

.menuButton--checkbox
  position: absolute
  display: block
  right: 14px
  top: 13px
  width: 34px
  opacity: 0
  z-index: 3
  margin: 0
  height: 19px
