@import navigation
@import header
@import menu
@import skillset
@import contact

$background-color: #f6dd55

h1, h2, h3 
  margin: 0
  padding: 0
  font-weight: normal

html 
  min-height: 100%
  overflow-x: hidden

::-webkit-scrollbar 
  height: 0px
  width: 0px
  background: transparent
 
a
  text-decoration: none
  
body 
  margin: 0
  padding: 0
  position: relative
  height: 100vh
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  
.main 
  position: relative
  margin: 0
  padding: 0

.card 
  text-align: center
  display: flex
  flex-direction: column
  min-width: 100%
  position: relative
  background-color: $background-color

.card--title 
  margin-top: 28px
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  margin-bottom: 16px
  color: #3b0031


.project 
  border: 1px solid #e4e4e4
  height: 200px
  width: 304px
  margin: auto
  margin-bottom: 24px
  border-radius: 20px
  display: block
  background: white
  border: 1px solid #3b0031
  padding: 5px

.project--image 
  height: 100%
  object-fit: cover

.footer 
  background: rgba(244, 221, 95, 100)
  display: flex
  flex-direction: column
  text-align: center
  position: relative
  padding: 0
  max-height: 50%
  width: 100%

.social-media 
  height: 102px
  padding-top: 61px

.icon 
  height: 38px
  width: 38px
  border-radius: 100%
  margin-top: 61px
  margin-left: 8px
  margin-right: 8px
  display: inline

.icon__display 
  outline: none
  text-decoration: none
  display: inline-block
  border-radius: 20px

.icon--image 
  height: 38px
  width: 38px
  border-radius: 100%

.footer--title 
  font-family: 'Montserrat', sans-serif
  margin-top: 96px
  font-size: 16px
  color: #3b0031

.wrapper
  position: relative

