.navigation {
  width: 100%;
  height: 56px;
  margin-top: 16px;
  position: relative;
  display: block;
  position: relative;
  user-select: none; }

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #f4dd5f;
  height: 400px; }

.header--title {
  font-family: "Hind", sans-serif;
  margin-top: 48px;
  font-size: 32px;
  margin-bottom: 0;
  color: #3b0031;
  height: 112px; }

.header--intro {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #3b0031; }

.header--text {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #3b0031; }

.menu {
  position: absolute;
  width: 232px;
  height: 100vh;
  right: 0px;
  z-index: 2;
  top: 0;
  background: #3b0030;
  margin-top: -16px;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

.menu--disable {
  transform: none; }

.menu--enable {
  transform: translate(100%, 0); }

.menu--style {
  list-style-type: none;
  padding: 0;
  margin-top: 137px; }

.menu--item {
  font-family: "Roboto", sans-serif;
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.46); }

.menuButton--checkbox {
  position: absolute;
  display: block;
  right: 14px;
  top: 13px;
  width: 34px;
  opacity: 0;
  z-index: 4;
  margin: 0;
  height: 19px; }

.menuButton {
  position: absolute;
  right: 0px;
  margin-top: 16px;
  margin-right: 16px;
  z-index: 3; }

.menu--bar {
  height: 4px;
  width: 32px;
  background: #f53a33;
  margin-bottom: 2px; }

.skillset {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 377px;
  height: 416px;
  top: -5vh;
  position: absolute;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1; }

.skillset--heading {
  font-family: "Montserrat", sans-sarif;
  font-size: 16px;
  color: #3b0031;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px; }

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px; }

.skillset--title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #3b0031;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 8px; }

.contact {
  position: relative;
  z-index: 4;
  top: 370px;
  height: 352px;
  width: 377px;
  border-radius: 20px;
  text-align: center;
  margin: auto; }

.contact--heading {
  font-family: "Montserrat", sans-serif;
  margin-top: 24px;
  font-size: 16px;
  color: #3b0031; }

.contact--text {
  font-family: "Roboto", sans-serif;
  margin: 0;
  margin-top: 1px;
  font-size: 12px;
  color: #3b0031; }

.contact--form {
  margin-top: 24px;
  margin: auto;
  width: 256px; }

.form--label {
  display: block;
  text-align: left;
  margin-top: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }

.form--input {
  display: block;
  width: 256px;
  height: 24px; }

.contact--button {
  margin-top: 24px;
  width: 256px;
  height: 48px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }

.list--item {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #3b0031; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  overflow-x: hidden; }

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  overflow-x: hidden; }

.main {
  position: relative;
  margin: 0;
  padding: 0;
  height: 350px; }

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  position: relative;
  top: 368px;
  background-color: #f6dd55; }

.card--title {
  margin-top: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 16px;
  color: #3b0031; }

.project {
  border: 1px solid #e4e4e4;
  height: 144px;
  width: 144px;
  margin: auto;
  margin-bottom: 8px;
  border-radius: 20px;
  display: block; }

.project--image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover; }

.footer {
  background: #f4dd5f;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
  bottom: -755px; }

.social-media {
  height: 102px;
  padding-top: 61px; }

.icon {
  height: 38px;
  width: 38px;
  border-radius: 100%;
  margin-top: 61px;
  margin-left: 8px;
  margin-right: 8px;
  display: inline; }

.icon__display {
  outline: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px; }

.icon--image {
  height: 38px;
  width: 38px;
  border-radius: 100%; }

.footer--title {
  font-family: "Montserrat", sans-serif;
  margin-top: 96px;
  font-size: 16px;
  color: #3b0031; }

/*# sourceMappingURL=style.css.map */
