<section class="contact">
  <h1 class="contact--heading">Contact</h1>
  <p class="contact--text">Let me help you create something great!</p>
  <form novalidate class="contact--form">
    <label class="form--label">
      First Name    
    </label>
      <input class="form--input" type="text" ng-model="" required />
    <label class="form--label">
      Last Name
    </label>
      <input class="form--input" type="text" ng-model="" required />
    <label class="form--label">
      Email   
    </label>   
      <input class="form--input" type="text" ng-model="" required />
    <button class="contact--button">Submit</button>
  </form>
</section>